/* Website header styles*/
.body{
    margin: 0px;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
}
.header{
    background-color: lightseagreen;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 38px;
}
.left-side{
    display: flex;
    justify-content: left;
    margin-top: 20px;
    margin-left: 25px;
}
.right-side{
    display: flex;
    margin-right: 20px;
}
.header > .left-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: UPPERCASE;
}
.navigations{
    height: 10px;
    border-bottom: 2px solid lightgray;
    transition: border-bottom 0.5s;
}
.navigations a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
.navigations:hover{
    border-bottom: 2px solid black;
}

.navigations a:hover{
    color: black;
}
/* Header styles ends here*/