#plot-space {
    padding: 5px 5px 5px 5px;
    position: fixed;
    height: calc(100% - 80px);;
    width: 100%;
    /* background-image: linear-gradient(to bottom, rgba(213, 236, 199,0.6), rgba(243, 255, 240,0.25),rgba(255, 255, 255, 0)); */
    display: block;
    z-index: 0;
    
}

#data-plot{
    position:relative;
    box-sizing: border-box;
    object-fit: fill;
    top: 62.5px;
    left: 5px;
    z-index: 1;
}

